# Ignore Maven build output folder
target/

# Ignore Docker image folder
docker images/

# Ignore all target folders in any subdirectory
**/target/

# Ignore environment variable files
.env

backend.bfg-report/